.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
}

.note{
    font-size: 15px;
    color: black;
}

.copy_right_footer{
    line-height: 3;
    bottom: 0;
    position: fixed;
    color: white;
    width: 100%;
    background-color: rgb(47, 150, 219);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}